<style>
    .yt-image-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .yt-background-image {
        display: block;
    }

    .yt-overlay-image {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 60%;
    }

    .yt-top-left-text {
        position: absolute;
        top: 24px;
        left: 52px;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        border-radius: 1px;
    }

    .play-icon {
        position: absolute;
        top: 40%;
        left: 45%;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var thumbnails = document.querySelectorAll('.youtube-thumbnail');
        thumbnails.forEach(function (thumbnail) {
            thumbnail.addEventListener('click', changeYoutubeIframe);
        });
    });

    function changeYoutubeIframe() {
        var videoID = this.getAttribute('data-video-id');
        var iframe = document.createElement('iframe');
        iframe.setAttribute('width', '560');
        iframe.setAttribute('height', '315');
        iframe.setAttribute('src', 'https://www.youtube-nocookie.com/embed/' + videoID + '?rel=0&autoplay=1');
        iframe.setAttribute('frameborder', '0');
        iframe.setAttribute('loading', 'lazy');
        iframe.setAttribute('title', 'YouTube video player:' + videoID);
        iframe.setAttribute('referrerpolicy', 'no-referrer');
        iframe.setAttribute('allowfullscreen', true);
        this.innerHTML = '';
        this.appendChild(iframe);
    }
</script>