{{- $videoID := .Get "id" | default (.Get 0) -}} <!-- Video ID: first argument or id="" -->
{{- $apiKey := getenv "YouTube_Data_API_key" }} <!-- Replace with your YouTube Data API key: $Env:YouTube_Data_API_key = "AIz***" -->
{{- $url := printf "https://www.googleapis.com/youtube/v3/videos?id=%s&key=%s&part=snippet" $videoID $apiKey }}
{{- $json := getJSON $url }}
{{- $title := index (index $json.items 0).snippet.title }}
{{- $thumbnails := index (index $json.items 0).snippet.thumbnails }}

{{- $channelId := index (index $json.items 0).snippet.channelId }}
{{- $url2 := printf "https://www.googleapis.com/youtube/v3/channels?id=%s&key=%s&part=snippet" $channelId $apiKey }}
{{- $json2 := getJSON $url2 }}
{{- $ytChannelLogo := index (index $json2.items 0).snippet.thumbnails.default.url }}

{{- $videoResKey := .Get "res" | default "maxres" -}} <!-- Video Thumbnail Resolution: res="" | default maxres | available options: [ default, high, maxres, medium, standard ] -->
{{- $thumbnail := index $thumbnails $videoResKey }}
{{- $videoWidth := .Get "width" | default $thumbnail.width -}} <!-- Video width:  width="" | default is taken from $videoResKey -->
{{- $videoHeight := .Get "height" | default $thumbnail.height -}} <!-- Video height: height="" | default is taken from $videoResKey -->

{{- with resources.GetRemote $thumbnail.url }}
{{- with .Resize (printf "%vx%v webp q100" $videoWidth $videoHeight) }}
<div class="youtube-thumbnail yt-image-container" data-video-id="{{- $videoID }}">
    <div class="yt-top-left-text">{{- $title }}</div>
    <img class="yt-background-image" src="{{- .RelPermalink }}" width="{{- $videoWidth }}" height="{{- $videoHeight }}">

    {{- if eq $channelId "UCt2ztNykDu48vMv7NN-Xb0Q" }}
    <img class="yt-overlay-image" src="/images/yt_logo.webp" alt="YouTube user Image">
    {{- else }}
    <img class="yt-overlay-image" src="{{- $ytChannelLogo }}" alt="YouTube user Image">
    {{- end }}

    <img class="play-icon"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACYElEQVR4nO2aPU8UURSGHylcMJGgUTA0UPgD/AN0BkLUQAmS+A8IhMqSFrHQaCC2lpbgRrelIsbESlgWKj4aIzQU8hWuueZMQsaZnZ2Ze+/c2fAmbzLJ7s457557z5xz7sA12hd3gHFgEagCdeAIOBXq6035TH9nDOjBE1SAKaAGXAAqJfVvvgDP5V7O0QXMAQcZnI/jPjALdLoSMQrsGBQQ5jYwYlOADv1biwLC/CiRN4o+4LtDEUr4Deg1JWJQwq0KYkN8yIX7kkZVwdwBHmQV0VnQclJNllmmFL3sgfMqxHdZUqzylMOtitDh2/LAYRXD7VYfmnMeOKsSONNKNPZzGHgM/HQgZC9p40/lNBD8GS+BY8tiJpsJqRkQEqBfyoxLS0KqzfqJC4NCAgwBPywIOQe6owyOG7h5HDqAF8Avw2KeRhl7bVFIgLvAkoHIK+GrKCNVB0ICPALWDNhbibp5w6EQjRvS4uZJ9/WoGx86FhLgFjAP/MlgT++5/3BakJAAD4FPKe2d+Cpk1YSQtllaWyXc7JttnX4XS/hAXGjrEqWnZEXjWVzRqPG1RGX85yYr4F8WKUtjNWGz1X1iqGZTCdwFbpKAWQeO5OV0koggKj6MSVUMG2kmjiMeOKwieCmTmlR474HjKsQ3ZEBFBsfKE663ssHjcM+jY4U+cmLQUUqNo67KBzCE3oKW2bocNlk5DLVVcoT5wfbZ+7DlpVbPkmKzoiKj/T3DZcd0UW9AVGQqXpVZbFrnz6WKnciTWk1D9wbPZIy5Kv307ysv1ejrDWlPF6Qpum3ci2vgB/4CjyjK2uOfur4AAAAASUVORK5CYII=">
</div>
{{- end }}
{{- end }}